<form method='post' action='add_country'>
  Country name: <input name='name' /><br/>
  Years active <input name='years' /><br/>
  <input type='submit' value='Add country' />
</form>

<p>Currently: <%= countries.count %> countries</p>